main{
  min-height: 100vh;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color: black;
}

a:active{
  color: black;
}

a:visited{
  color: black;
}

.img-options{
  width: 20px;
}

.logo{
  padding-top: 100px;
}

#nav-bar ul{
  display: flex;
}

#nav-left{
  float: left;
}

#nav-left li{
  padding-right: 20px;
}

#nav-right{
  float: right;
}

#nav-right li{
  padding-left: 20px;
}

footer ul{
  display: flex;
}

#footer-left{
  float: left;
}

#footer-left li{
  padding-right: 20px;
}

#footer-right{
  float: right;
}

#footer-right li{
  padding-left: 20px;
}

#main-content{
  margin-left: 350px;
  position: relative
}

#search{
  width: 270px;
}

.buttons{
  margin: 10px 0 0 40px;
}

.buttons button{
  background-color: #e0e0e0;
  border-radius: 4px;
  border-width: 1px;
  border-color: transparent;
}

#last-item{
  padding-right: 35px;
}

